In [46]:
import pandas as pd

In [72]:
df=pd.read_csv('data/product_info.csv')

- **product_id**: The unique identifier for the product from the site
- **product_name**: The full name of the product
- **brand_id**: The unique identifier for the product brand from the site
- **brand_name**: The full name of the product brand
- **loves_count**: The number of people who have marked this product as a favorite
- **rating**: The average rating of the product based on user reviews
- **reviews**: The number of user reviews for the product
- **size**: The size of the product, which may be in oz, ml, g, packs, or other units depending on the product type
- **variation_type**: The type of variation parameter for the product (e.g. Size, Color)
- **variation_value**: The specific value of the variation parameter for the product (e.g. 100 mL, Golden Sand)
- **variation_desc**: A description of the variation parameter for the product (e.g. tone for fairest skin)
- **ingredients**: A list of ingredients included in the product, for example: [‘Product variation 1:’, ‘Water, Glycerin’, ‘Product variation 2:’, ‘Talc, Mica’] or if no variations [‘Water, Glycerin’]
- **price_usd**: The price of the product in US dollars
- **value_price_usd**: The potential cost savings of the product, presented on the site next to the regular price
- **sale_price_usd**: The sale price of the product in US dollars
- **limited_edition**: Indicates whether the product is a limited edition or not (1-true, 0-false)
- **new**: Indicates whether the product is new or not (1-true, 0-false)
- **online_only**: Indicates whether the product is only sold online or not (1-true, 0-false)
- **out_of_stock**: Indicates whether the product is currently out of stock or not (1 if true, 0 if false)
- **sephora_exclusive**: Indicates whether the product is exclusive to Sephora or not (1 if true, 0 if false)
- **highlights**: A list of tags or features that highlight the product's attributes (e.g. [‘Vegan’, ‘Matte Finish’])
- **primary_category**: First category in the breadcrumb section
- **secondary_category**: Second category in the breadcrumb section
- **tertiary_category**: Third category in the breadcrumb section
- **child_count**: The number of variations of the product available
- **child_max_price**: The highest price among the variations of the product
- **child_min_price**: The lowest price among the variations of the product

In [73]:
df.columns

Index(['product_id', 'product_name', 'brand_id', 'brand_name', 'loves_count',
       'rating', 'reviews', 'size', 'variation_type', 'variation_value',
       'variation_desc', 'ingredients', 'price_usd', 'value_price_usd',
       'sale_price_usd', 'limited_edition', 'new', 'online_only',
       'out_of_stock', 'sephora_exclusive', 'highlights', 'primary_category',
       'secondary_category', 'tertiary_category', 'child_count',
       'child_max_price', 'child_min_price'],
      dtype='object')

In [75]:
df.brand_id=df.brand_id.astype(str)

In [76]:
df.describe()

,loves_count,rating,reviews,price_usd,value_price_usd,sale_price_usd,limited_edition,new,online_only,out_of_stock,sephora_exclusive,child_count,child_max_price,child_min_price
count,8.494000e+03,8216.000000,8216.000000,8494.000000,451.000000,270.000000,8494.000000,8494.000000,8494.000000,8494.000000,8494.000000,8494.000000,2754.000000,2754.000000
mean,2.917957e+04,4.194513,448.545521,51.655595,91.168537,20.207889,0.070285,0.071698,0.219096,0.073699,0.279374,1.631622,53.792023,39.665802
std,6.609212e+04,0.516694,1101.982529,53.669234,79.195631,24.327352,0.255642,0.258002,0.413658,0.261296,0.448718,5.379470,58.765894,38.685720
min,0.000000e+00,1.000000,1.000000,3.000000,0.000000,1.750000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,3.000000
25%,3.758000e+03,3.981725,26.000000,25.000000,45.000000,8.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,22.000000,19.000000
50%,9.880000e+03,4.289350,122.000000,35.000000,67.000000,14.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,32.000000,28.000000
75%,2.684125e+04,4.530525,418.000000,58.000000,108.500000,25.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,59.000000,42.000000
max,1.401068e+06,5.000000,21281.000000,1900.000000,617.000000,320.000000,1.000000,1.000000,1.000000,1.000000,1.000000,105.000000,570.000000,400.000000

In [78]:
def percentageOfnull(df):
    nan_count = df.isna().sum().sort_values(ascending=False)
    nan_percentage = ((df.isna().sum()/df.isna().count())*100).round().sort_values(ascending=False)
    train_test_dtype = df.dtypes
    df_info = pd.concat([nan_count,nan_percentage,train_test_dtype],axis=1,keys=['Null Count','Null Percentage','DataTypes'])
    return df_info[df_info['Null Count']>0]
percentageOfnull(df)

                    Null Count  Null Percentage DataTypes
sale_price_usd            8224             97.0   float64
value_price_usd           8043             95.0   float64
variation_desc            7244             85.0    object
child_max_price           5740             68.0   float64
child_min_price           5740             68.0   float64
highlights                2207             26.0    object
size                      1631             19.0    object
variation_value           1598             19.0    object
variation_type            1444             17.0    object
tertiary_category          990             12.0    object
ingredients                945             11.0    object
rating                     278              3.0   float64
reviews                    278              3.0   float64
secondary_category           8              0.0    object